absl-py==0.12.0
ale-py==0.7.1
astunparse==1.6.3
bz2file==0.98
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
chex==0.0.9
click==8.0.4
cloudpickle==2.0.0
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
dill==0.3.4
dm-tree==0.1.6
dopamine-rl==3.2.1
filelock==3.4.1
flake8==4.0.1
Flask==2.0.3
flatbuffers==2.0
flax==0.3.5
future==0.18.2
gast==0.3.3
gevent==21.12.0
gin-config==0.5.0
google-api-core==2.7.0
google-api-python-client==2.39.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.55.0
greenlet==1.1.2
grpcio==1.44.0
gunicorn==20.1.0
gym==0.21.0
h5py==2.10.0
httplib2==0.20.4
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
jax==0.2.17
jaxlib==0.1.69
Jinja2==3.0.3
joblib==1.1.0
Keras-Preprocessing==1.1.2
kfac==0.2.0
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mesh-tensorflow==0.1.19
mpmath==1.2.1
msgpack==1.0.3
nltk==3.6.7
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
optax==0.0.91
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
promise==2.3
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyflakes==2.4.0
pygame==2.1.2
pyparsing==3.0.7
pypng==0.0.21
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
requests-oauthlib==1.3.1
-e git+https://github.com/martiansideofthemoon/relic-retrieval@6a5f5523b6c8103f0e0056260ec8b02a3963a289#egg=retriever_train
rsa==4.8
sacremoses==0.0.47
scipy==1.4.1
sentencepiece==0.1.96
six==1.16.0
sympy==1.9
tensor2tensor==1.15.7
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow==2.3.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.5.2
tensorflow-estimator==2.3.0
tensorflow-gan==2.1.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-probability==0.7.0
termcolor==1.1.0
tf-slim==1.1.0
tokenizers==0.11.6
toolz==0.11.2
torch==1.10.1
torchvision==0.11.2
tqdm==4.63.0
transformers==4.16.2
typeguard==2.13.3
typing-extensions==3.10.0.2
uritemplate==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.13.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
