absl-py==0.13.0
aiohttp==3.7.4.post0
antlr4-python3-runtime==4.8
apache-beam==2.30.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
avro-python3==1.9.2.1
beautifulsoup4==4.10.0
bert-score==0.3.10
blessings==1.7
blis==0.4.1
boto3==1.18.63
botocore==1.21.63
cached-property==1.5.2
cachetools==4.2.2
catalogue==2.0.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
contextvars==2.4
crcmod==1.7
cycler==0.10.0
cymem==2.0.4
Cython==0.29.21
dataclasses==0.6
datasets==1.12.1
dill==0.3.1.1
docopt==0.6.2
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
-e git+https://github.com/martiansideofthemoon/style-transfer-paraphrase@4064c70230c3531f85c832f93e2aa8219fe64453#egg=fairseq&subdirectory=fairseq
fastavro==1.4.1
fastBPE==0.1.0
fasteners==0.16.3
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
flatbuffers==1.12
fsspec==2021.6.0
future==0.18.2
gast==0.4.0
gdown==4.2.0
google-api-core==1.30.0
google-apitools==0.5.31
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.20.0
google-cloud-bigtable==1.7.0
google-cloud-core==1.7.1
google-cloud-datastore==1.15.3
google-cloud-dlp==1.0.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.7.0
google-cloud-spanner==1.19.1
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
-e git+https://github.com/ngram-lab/better-paraphrases@0ea24327995e3b4df55e136387d282f2a77117b8#egg=gpt2_finetune
gpustat==0.6.0
grpc-google-iam-v1==0.12.3
grpcio==1.34.1
grpcio-gcp==0.2.2
h5py==3.1.0
hdfs==2.6.0
httplib2==0.19.1
huggingface-hub==0.0.17
hydra-core==1.0.3
idna==2.10
idna-ssl==1.1.0
immutables==0.16
importlib-metadata==2.0.0
importlib-resources==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
more-itertools==8.6.0
multidict==5.1.0
multiprocess==0.70.11.1
murmurhash==1.0.4
nltk==3.5
numpy==1.19.2
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.1
omegaconf==2.0.4
opt-einsum==3.3.0
ordered-set==3.1.1
ordered-set-stubs==0.1.3
packaging==21.0
pandas==1.1.5
Paste==3.5.0
pathtools==0.1.2
pathy==0.6.0
Pillow==8.0.0
plac==1.1.3
poetry-version==0.1.5
portalocker==2.0.0
preshed==3.0.4
profanity-filter==1.3.3
promise==2.3
proto-plus==1.18.1
protobuf==3.13.0
psutil==5.7.3
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pyflakes==2.2.0
pymongo==3.11.4
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
redis==3.5.3
regex==2020.10.15
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.15.100
s3transfer==0.5.0
sacrebleu==1.4.14
sacremoses==0.0.43
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
-e git+https://github.com/martiansideofthemoon/style-transfer-paraphrase@4064c70230c3531f85c832f93e2aa8219fe64453#egg=style_paraphrase
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow==2.5.0
tensorflow-datasets==4.3.0
tensorflow-estimator==2.5.0
tensorflow-metadata==1.1.0
termcolor==1.1.0
thinc==8.0.10
threadpoolctl==2.1.0
tokenizers==0.10.3
tomlkit==0.5.11
torch==1.7.0+cu101
torchaudio==0.7.0
torchvision==0.8.1+cu101
tqdm==4.62.3
-e git+https://github.com/huggingface/transformers@f3386d938348628c91457fc7d8650c223317a053#egg=transformers
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.25.11
waitress==1.4.4
wasabi==0.8.2
watchdog==0.10.3
Werkzeug==1.0.1
wikiextractor==3.0.4
wrapt==1.12.1
xxhash==2.0.2
yarl==1.6.3
zipp==3.4.0
